<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JO-JOHA</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<div th:replace="~{fragment/top-page :: topPageHeader}"></div>
<div class="middle">
    <div class="mainImg">

        <img class="image" src="\image\beach-landscape-sea-coast-tree-water-1138100-pxhere.com.jpg" alt="Main">
        <div></div>
        </img>
    </div>
</div>

<body>

</body>

</html>