<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="real-login">
    <div class="real-jo-joha-login-modal">
        <div class="real-jo-joha-login-modal-two">
            <div class="modal-two-top">
                <div class="modal-two-top-top">s</div>
                <div class="modal-two-top-bottom">
                    <div class="modal-two-jo-joha-login"></div>
                    <div class="modal-two-find"></div>
                </div>
            </div>
            <div class="modal-two-bottom">
                <button class="login-button-kakao"><img src="" alt=""></button>
                <button class="login-button-naver"><img src="" alt=""></button>
                <button class="login-button-google"><img src="" alt=""></button>
                <button class="login-button-apple"><img src="" alt=""></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>